#set($pageTitle="velocity 全局变量")
#extends("page/layout/2columns-with-left-sidebar.vm")

#block("sidebar")
    #widget("widget/sidebarmenus/sidebarmenus.vm" "var:menus=$menus.get(2).children")
#end

#block("content")

为了方便开发，还需要知道 velocity 里面有哪些全局变量可以使用。

<h2>\$request</h2>
<h2>\$response</h2>
<h2>\$jello</h2>
<h2>全局变量</h2>

#end## end of body

## 需要依赖一下自己，否则该 vm 中依赖没法自动加载进来。
#require("page/velocity/variables.vm")
#end